<a href="https://colab.research.google.com/github/apaulaleao/blue_modulo1/blob/main/Aula1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello! Mundo')

Hello! Mundo

Criando variavel

In [2]:
#armazenando variáveis
varString = 'Isso é uma string'
varInt = 20
varFloat = 15.6
print(varString)
print(varInt)
print(varFloat)

#verificar o tipo de variável
print(type(varString))
print(type(varInt))
print(type(varFloat))

Isso é uma string
20
15.6
<class 'str'>
<class 'int'>
<class 'float'>

Concatenando Strings

In [3]:
texto1 = "Isso é um texto"
texto2 = "E isso também"
texto3 = "Eu armazenei:"
texto4 = "na variável num1"
num1 = 10
num2 = 20

print(texto1, texto2)
print(texto1 + texto2)
print(texto3, num1, texto4)
print(num1 + num2)

Isso é um texto E isso também
Isso é um textoE isso também
Eu armazenei: 10 na variável num1
30

Operadores em Python

In [4]:
print(5 + 5)
print(10 - 5)
print(3 * 10)
print(20 / 5)
print(18 // 4)
print(18 % 4)
print(10 ** 3)

10
5
30
4.0
4
2
1000

Operadores Relacionais

In [5]:
print(2 > 3)
print(2 < 3)
print(2 == 3)
print(3 == 3)
print(3 >= 2)

var1 = 1
var2 = 2
var3 = 3
var4 = "string"
var5 = "string2"
var6 = "string"
print(var1 > var2)
print(var1 < var2)
print(var4 > var5)
print(var4 == var6)

False
True
False
True
True
False
True
False
True

Operadores Lógicos

In [6]:
print(4 > 3 and 10 > 8)
print(4 > 3 and 10 < 8)
print(4 >3 or 10 > 12)
print(not 3 > 2)
print(not 3 < 2)
print(5 > 3 and not 3 > 2)
print(5 > 3 and not 3 < 2)

True
False
True
False
True
False
True

Codigo Input

In [7]:
varInput = input('Digite um número: ')
print(varInput)

varInput1 = int(input('Digite um número: '))
varInput2 = int(input('Digite outro número: '))
print('Soma:', varInput1 + varInput2)

Digite um número: 12
12
Digite um número: 23
Digite outro número: 10
Soma: 33